.main {
  height: 530px;
  width: 100%;
  border: 1px solid #dddddd;
}

.userTable {
  border-collapse: collapse;
  height: 530px;
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  table-layout: fixed;
}

.userTable tbody {
  display: table;
  width: 100%;
}

.heading {
  background-color: #ddddddb4;
  font-weight: bold;
}

.userTable td {
  text-align: left;
  padding: 15px;
}
.heading td {
  padding: 25px;
}

.userTable tr:hover {
  background-color: #ddddddb4;
}

.uicon {
  border: 1px solid black;
  border-radius: 5%;
  text-transform: capitalize;
  /* auto background */
  /* background-color: aqua; */
  padding: 10px;
  font-weight: bold;
}

.last-row {
  font-weight: bold;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.modal {
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 1px solid black;
  position: fixed;
  left: 0;
  top: 0;
  /* background-color: rgb(0,0,0); */
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  width: 80%;
  height: auto;
  margin: 25% auto;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.close {
  cursor: pointer;
  border: none;
  padding: 10px;
  background-color: #e7e7e7;
  font-size: small;
  font-weight: bold;
  margin: 2px;
  width: 47.5%;
  color: white;
}

.btn-red {
  background-color: Tomato;
}

.btn-green {
  background-color: MediumSeaGreen;
}

.btn {
  border: 1px solid white;
  background-color: #e7e7e7;
  cursor: pointer;
  padding: 10px;
}

.modalform {
  font-size: small;
  font-weight: bold;
}

.paginator ul li {
  padding: 15px;
  border: 0.2px solid rgba(0, 0, 0, 0.685);
  cursor: pointer;
}
.paginator ul {
  padding: 0;
  list-style: none;
  display: flex;
}

.paginator {
  display: flex;
}

.paginator ul li:hover {
  background-color: DodgerBlue;
  color: white;
}

.activepage {
  background-color: black;
  color: white;
}